name: Build

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - "v*"
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build Application
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.19.4"
          otp-version: "28.3"

      - name: Restore Hex cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.hex
            ~/.mix
            deps
          key: ${{ runner.os }}-hex-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-hex-

      - name: Fetch dependencies
        run: mix deps.get

      - name: Build Application
        run: mix compile
